.title-page-projects {
  text-align: center;
  margin-top: 50px;
}

/* -------------------------- */

.filter {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 50px;
}
.filter-btn {
  border-radius: 10px;
  border: none;
  padding: 20px;
  background-color: #f8f8ff;
  color: black;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.472);
}
.filter-btn:hover {
  transform: translateY(-5px);
}
.filter-btn:active {
  transform: translateY(5px);
}

/* -------------------------- */

.main-container-art {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 50px;
  margin-bottom: 50px;
}

/* -------------------------- */

.card-container {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
}
.img-art {
  width: 300px;
  border-radius: 10px;
}
.img-container {
  width: 100%;
  display: block;
}
.card-description {
  background-color: #f8f8ff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
