.main-nav {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se replier à l'intérieur du conteneur */
  justify-content: center;
  align-items: center;
  gap: 5rem; /* Ajustez cette valeur si nécessaire */
  padding: 20px;
  margin: 15px auto;
  width: 40%; /* Ajustez cette valeur pour limiter la largeur */

  background: #3573efc9;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.main-li {
  list-style: none;
}
.main-a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
.main-a:hover {
  color: black;
}
