.title-page-projects {
  text-align: center;
  margin-top: 50px;
}

/* -------------------------- */

.main-container-music {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 50px 0 50px;
  margin-bottom: 50px;
}
.card-container-music {
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0px lightgray;
  align-items: center;
}
.card-container-image {
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0px lightgray;
}
.img-music {
  width: 350px;
  transition: opacity 350ms ease-in-out, scale 350ms ease-in-out;
}
.card-container-image:has(.img-music:hover) .img-music:not(.img-music:hover) {
  opacity: 0.3;
  z-index: 1;
}
.img-music:hover {
  scale: 1.5;
  z-index: 1;
}
.container-img {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  justify-content: center;
  align-items: center;
}
.video-music {
  width: 100%; /* ou toute autre largeur souhaitée, par exemple 50%, 400px, etc. */
  max-width: 800px; /* Limite la largeur maximale de la vidéo */
  height: auto; /* Maintient le ratio d'aspect */
  margin-top: 20px;
  margin-bottom: 20px;
}

/* -------------------------- */

.filter {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 50px;
}
.filter-btn {
  border-radius: 50px;
  border: none;
  padding: 20px;
  background-color: #4682a9;
  color: #f6f4eb;
  font-family: "Finger Paint", sans-serif;
  font-size: 15px;
}
.filter-btn:hover {
  box-shadow: 0 5px 10px 0px lightgray;
  cursor: pointer;
}
.filter-btn:active {
  transform: translateY(5px);
  cursor: pointer;
}
