.title-page-projects {
  text-align: center;
  margin-top: 50px;
}

/* -------------------------- */

.main-container-music {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0 50px 0 50px;
  margin-bottom: 50px;
}
.card-container-music {
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0px lightgray;
}
.card-container-image {
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 5px 10px 0px lightgray;
}
.img-music {
  width: 350px;
}
.container-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

/* -------------------------- */

.filter {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin: 50px;
}
.filter-btn {
  border-radius: 50px;
  border: none;
  padding: 20px;
  background-color: #4682a9;
  color: #f6f4eb;
}
.filter-btn:hover {
  box-shadow: 0 5px 10px 0px lightgray;
}
.filter-btn:active {
  transform: translateY(5px);
}
