@media screen and (max-width: 425px) {
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
  }
  .main-card-text:hover {
    transform: none;
  }
}

.main-container {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 50px;
}

.title-page-projects {
  margin: 50px;
  text-align: center;
}

.main-card-container {
  position: relative;
  margin: 1rem;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.37);
}

.main-card-content {
  position: relative;
}

.main-card-pic {
  border-radius: 10px;
  width: 450px;
  height: auto;
  display: block;
}

.main-card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 2rem;
  white-space: nowrap;
  transition: transform 0.3s;
}

.main-card-text:hover {
  transform: translate(-50%, -80%); /* Déplace le texte légèrement vers le bas lors du survol */
}
